{% extends 'base.html' %}

{% block content %}
<style>
    img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
    h2 {
    text-align:center
    }
    p {
    text-align:center
    }
    </style>
    <div class="container-fluid home-main" style="margin-top: 1em;">
{% load crispy_forms_tags %}          

  	 	<h2>Forgot Password</h2>
		<hr>
		<p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
        <form method="POST">
            {% csrf_token %}
            {{ password_reset_form|crispy }} <div style="margin-top: 1em;">
                <button button type="submit" style="height:40px; width:150px" type="button" class="btn btn-default" >Submit</button>
             </div>
        <br>
        <p><a href="/business_sign_in"> Back to login  </a>
        </div>
        </form>
  	</div> 

{% endblock %}