{% extends 'base.html' %}

{% block content %}
<style>
p {
 text-align:center
}
</style>

<div class="container-fluid home-main">
    <h2>About Us <span class="blinker">!</span></h2>
      <div class="content">
        <p>COVID has added safety restrictions for stores. We need to make sure that the store isn’t too crowded and that the lines don’t have too many people on it. With our ticketing system, we're here to help!</p>
        <p>Line Up is an Innovative ticket system that allows people to sign up online, in person, and over the phone. People coming in person or are calling over the phone will have their spot on-the-line tracked by the online system. Ticket numbers are first come first serve. The smaller your ticket number, the closer you are to the front of the line.</p>
      </div>
  </div>
{% endblock %} 