{% extends 'base.html' %}

{% block content %}
<style type="text/css">
.row1{
    text-align:center;
    margin:0 auto;
}

.row1 .col-md-3{
   display:inline-block;
   vertical-align: middle;
   float: none;
}
</style>
<div class="container-fluid home-main">
	<div class="row1">
        <div class="col-md-3" style="padding=0.5em;">
            <div class="card bg-dark">
            	<h4 class="card-header">In line</h4>
                <div class="card-body home-main">
                    <h2 class="card-title">6</h2>
                </br>
                </div>
            </div>
        </div>
         <div class="col-md-3" style="padding=0.5em;">
            <div class="card bg-dark">
            	<h4 class="card-header">In store</h4>
                <div class="card-body home-main">
                    <!-- <h2 class="card-title">In store</h2> -->
                    <h2 class="card-title">5</h2>
                </br>
                </div>
            </div>
        </div>
         <div class="col-md-3" style="padding=0.5vw;">
         	 <!-- <h2 class="card-title">Scheduled</h2> -->
            <div class="card bg-dark">
            	<h4 class="card-header">Scheduled</h4>
                <div class="card-body home-main">
                    <h2 class="card-title">16</h2>
                </br>
                </div>
            </div>
        </div>
      </div>
 </div>

{% endblock %}