{% load static %}

<style>
footer {
  background-color: #391c77;
  align:center;
  min-height: 10vh;
  height: 20vh;
  margin-top: 10px;
  left: 0;
  bottom: 0;
  width: 100%;
  postion absolute;

}

a {
  margin:auto;
  padding: 25px;
}

img {
  width:32px;
  height:32px;
  margin-left:auto;
  margin-right:auto;
}

.hunter {
  width:75px;
  height:40px;
  margin-left:auto;
  margin-right:auto;
}

</style>

<!-- Footer -->
<footer class="page-footer font-small cyan darken-3">
  <!-- Footer Elements -->
  <div class="container fluid">
    <!-- Grid row-->
    <div class="row">
      <!-- Grid column -->
      {% comment %} <div class="col-md-12 py-5">
        <div class="mb-5 flex-center"> {% endcomment %}
          <!-- LinkedIn -->
          <a href="https://www.linkedin.com/" target="_blank" class="ln-ic">
            <i class="linkedin"><img src="{% static "images/icons/linkedin.png" %}" alt="linkedin"></i>
          </a>
          <!-- Github -->
          <a href="https://www.github.com/" target="_blank" class="gh-ic">
            <i class="github"><img src="{% static "images/icons/github.png" %}" alt="github"></i>
          </a>
          <a href="https://hunter.cuny.edu/" target="_blank" class="hr-ic">
            <i class="hunter"><img class="hunter" src="{% static "images/icons/hunter.svg" %}" alt="hunter"></i>
          </a>
        {% comment %} </div>
      </div> {% endcomment %}
      <!-- Grid column -->
      </div>
    <!-- Grid row-->
    </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->