{% extends 'base.html' %}



{% block content %}
 <div class="container-fluid home-main">
    <h1>Line Up </h1>
    <h2><span class="blinker">🚶🏽‍♀️🚶🏻‍♂️🚶🏼‍♀️🚶🏿‍♂️🚶🏻‍♀️🚶🏾‍♀️</span></h2>
    <button onclick="location.href='/signin'" type="button" class="btn btn-default">Customer</button>
    </br>
    </br>
    </br>
    <button onclick="location.href='/businesslogin'" type="button" class="btn btn-default">Business</button>
  </div>
  <div class="container-fluid home-content1">
    <div class="row">
      <div class="col-md-6 content1-left">
        <h3>Why use Line Up <span class="blinker">?</span></h3>
        <p> COVID has added safety restrictions for stores. We need to make sure that the store isn’t too crowded and that the lines don’t have too many people on it. With our ticketing system, we're here to help!</p>
        <!-- <div class="content1-left"></div> -->
      </div>
      <div class="col-md-6 content1-right">
        <p>Line Up is an Innovative ticketing system which allows people to sign up online, in person, and over the phone so that the process of shopping is met with safety and efficiency. Just pick up a  ticket and view your position in line!</p>
      </div>
    </div>
  </div>
  <div class="container-fluid home-content2">

  </div>
{% endblock %} 