{% extends 'base.html' %}
{% block content %}

<div class="container-fluid home-main">

<form action="" method="POST">

   {% csrf_token %}
   <h2>Do You Want to Leave The Line for {{storeName}}?</h2>
   <br>

   {% if groupSize > 1 %}
   <h3>You Currently have {{groupSize}} People in Your Group on This Line.</h3>
   <br>
   <input type="submit" value="Leave" class="David" />

   {% elif groupSize == 1 %}
   <h3>You Currently have 1 Person Registered in This Group</h3>
   <br>
   <br>
   <input type="submit" value="Leave" class="David" />

   {% else %}
   <h3>Too bad. You Aren't Registered for This Store.
      <br>
      <a href="/line_up/" style="color: #ffffff">Click here to go to Register for a Store.</a></h3>
   {% endif %}
   <br>
      
</form>

</div>
{% endblock %}
