{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
    h5 {
      color:#5812c5;
    }

    .login-signup {
      font-color: black;
    }

    .nav.navbar-nav.navbar-right li a {
      color: blue;
    }
    body{
     margin:0;
     padding:0;
     background:#5812c5;
   }
   .header{
     width:1100px;
     height:350px;
     margin:auto;
   }
   nav{
     width:100%;
     background:#f2f2f2;
     overflow:auto;
     text-decoration: none;
   }

   nav-item {
    border: 1px solid grey;
  }

  .w3-card, .w3-card-2 {
    border: 1px solid grey;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  }

  .w3-bar-block .w3-bar-item {
    width: 100%;
    display: block;
    padding: 8px 16px;
    text-align: left;
    border: 1px solid grey;
    white-space: normal;
    float: none;
    outline: 0;
    color: black;
  }

  .w3-teal, .w3-hover-teal:hover {
    color: #000!important;
    background-color: #f2f2f2!important;
  }

  ul{
   padding:0;
   margin:0 0 0 26vw;
   list-style:none;
   float:right;
  }
  li {
   text-decoration: none;
  }
  .logo img{
   position:absolute;
   margin-top:15px;
   margin-left:10px;
  }

  nav a{
   display:block;
   padding:1.5vw 1vw;
   font-family:Arial;
   color:#f2f2f2;
   text-align:center; 
   float: right;
   margin-left: auto;
   margin-right: auto;
   border:1px;
  }

  .nav-item .right {
   float: right;
  }

  nav a:hover{
   background:#D3D3D3;
   transition:0.5s;
  }
  .color-me{
    background: #f2f2f2;
    color:#5812c5;
  }
  /* Modify the backgorund color */ 
  .navbar-custom { 
    background-color: #f2f2f2; 
  } 
  {% comment %} Mobile Friendly - Navbar  {% endcomment %}

  .fa-1x {
    font-size: 1.5rem;
  }
  .navbar-toggler.toggler-example {
    cursor: pointer;
  }
  .dark-blue-text {
    color: #0A38F5;
  }
  .dark-pink-text {
    color: #AC003A;
  }
  .dark-amber-text {
    color: #ff6f00;
  }
  .dark-teal-text {
    color: #004d40;
  }


  {% comment %} Mobile - Friendly View  {% endcomment %}
  @media (min-width: 1001px) {
    .navbar-light {
      display:none;
    }
    .home-main button{
      background: #fff;
      color: #5812c5;
      border-radius: 1;
      font-size: 20px;
      width: 40%;
      height: 3.25em;
      top: 4%;
      margin-top: 3%;
    }


  }

  @media (max-width: 1000px) { 
   .center-align {
     width:145%;
   } 

   nav a{
     width: 67%;
     display:block;
     padding:1.5vw 2vw;
     font-family:Arial;
     color:#f2f2f2;
     text-align:center; 
   }
   .navbar-expand-lg {
    display: none;
    color:#5812c5;
  }
  }

</style>

<body>
  <nav class="navbar navbar-expand-lg navbar-custom">
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <li class="nav-item right" style="list-style-type:none;" >
        <a class="color-me" style="text-decoration:none;" href="/home"><h4><b>LineUp</b></h4><span class="sr-only"></span></a>
      </li>
      <ul class="navbar-nav mr-auto flex-row">
        {% if user.is_authenticated %}
        <li class="nav-item active">
          <a class="color-me" style="text-decoration:none;" href="/line_up">Enter The Line</a>
        </li>
        <li class="nav-item active">
          <a class="color-me" style="text-decoration:none;float:none;" href="/customer_schedule">My Schedule</a>
        </li>
        <li class="nav-item active">
          {% endif %}
          <li class="nav-item active">
            <a class="color-me" style="text-decoration:none;float:none;" href="/about_us">About Us</a>
          </li>
          <li class="nav-item active">
            <a class="color-me" style="text-decoration:none;float:none;" href="/contact_us">Contact</a>
          </li>
          {% if user.is_authenticated %}

          {% if request.user.profile.is_business %}
          <li class="nav-item active">
            <a class="color-me" style="text-decoration:none;float:none;" href="/control_panel">Control Panel</a>
          </li>
          {% endif %}
          <li class="nav-item active">
            <a class="color-me" style="text-decoration:none;float:none;" href="/profile_setting"> {{ request.user }}</a>
          </li>
          <li class="nav-item disabled">
            <a class="color-me" href="#" onClick="document.getElementById('logoutform').submit()">Logout</a>
          </li>
          <form id="logoutform" method="POST" action="{% url 'customer_sign_out' %}">
            {% csrf_token %}
            <input type="hidden">
          </form>

          {% else %}
          <li class="nav-item active">
            <a class ="color-me" style="text-decoration: none;float:right;" href="{% url 'customer_signup_view' %}">Sign up</a>
          </li> 
          <li class="nav-item active">
            <a class ="color-me" style="text-decoration: none;float:right;" href="{% url 'customer_login' %}">Login</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </body>

  <!--Navbar-->
  <nav class="navbar navbar-light navbar-2 white">
    <!-- Navbar brand -->
    <li class="nav-item" style="list-style-type:none;" >
      <a class="color-me" style="text-decoration:none;" href="/home"><h4><b>LineUp</b></h4><span class="sr-only"></span></a>
    </li>
    <!-- Collapse button -->
    <div class="w3-teal">
      <button class="w3-button w3-teal w3-xlarge w3-right" onclick="openRightMenu()">&#9776;</button>
      <div class="w3-sidebar w3-bar-block w3-card w3-animate-right" style="display:none;right:0;" id="rightMenu">
        <button onclick="closeRightMenu()" style="font-size:30px;" class="w3-bar-item w3-button w3-large"><b>X</b></button>
        <ul class="navbar-nav mr-auto center-align">
          <li class="nav-item active">
            <a class="color-me" style="text-decoration:none;" href="/"><b>Home</b> <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="color-me" style="text-decoration:none;" href="/about_us"><b>About Us</b></a>
          </li>
          <li class="nav-item">
            <a class="color-me" style="text-decoration:none;" href="/contact_us"><b>Contact Us</b></a>
          </li>
          <li class="nav-item">
            <a class="color-me" style="text-decoration:none;" href="/signin"><b>Customer Login</b></a>
          </li>
          <li class="nav-item">
            <a class="color-me" style="text-decoration:none;" href="/business_sign_in"><b>Business Login</b></a>
          </li>
        </ul>
      </div>
      <div class="w3-container">
      </div>
    </div>
  </nav>
  <!--/.Navbar-->
  {% comment %} ---------------------------------------------------------------------------------------------------- {% endcomment %}


  <script>

    function openRightMenu() {
      document.getElementById("rightMenu").style.display = "block";
    }

    function closeRightMenu() {
      document.getElementById("rightMenu").style.display = "none";
    }
  </script>
