{% extends 'base.html' %}

{% block content %}
<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h2 {
 text-align:center
}
p {
 text-align:center
}

a:hover {
  color:white;
}

</style>
<div class="container-fluid home-main">
    <!-- Sign up form -->
    <form method="post">
    	     


        <h1 class="card-title"> Welcome <span class="blinker">!</span></h1>
        <div class="row">
         <div class="col-md-6 mx-auto" style="padding=0.5em;"> 
                    <div class="card-body">
                    	{% csrf_token %} 
                        <div class="form-group">

                            <label for="username" class="col-form-label">Username</label>
                            <input type="input" class="form-control" name="username" id="inputEmail" placeholder="Login Name" required>
                            <div class="login-feedback">
                            
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-form-label">Password</label>
                            <input type="password" class="form-control" name="password" placeholder="Type your password" required>
                            <div class="password-feedback">
                            </div>
                            </div>
                        </div>
                        </div>

        </div>
        <div style="margin-top: 1em;">
            <button button type="submit" type="button" class="btn btn-default">Login</button>
        </div>
        <br>
        <p><a style="text-decoration:none;" href="/password_reset">Forgot password ?  </a>  | 
         <a style="text-decoration:none;" href="/signup">Sign up for Line Up</a>  |
         <a style="text-decoration:none;" href="/business_sign_in">Business</a></p>  

        </form>
</div>
{% endblock %}

